@model DetailsTestVM

@{
    ViewData["Title"] = "Test Details";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid px-5">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th class="text-nowrap" scope="col">
                        Fields
                    </th>
                    <th class="text-nowrap" scope="col">
                        Data
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Id)</th>
                    <td>@Html.DisplayFor(model => model.Id)</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Title)</th>
                    <td>
                        @Html.DisplayFor(model => model.Title)
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Instructions)</th>
                    <td>
                        @Html.DisplayFor(model => model.Instructions)
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.IsApproved)</th>
                    <td>
                        @Html.DisplayTextFor(model => model.IsApproved)
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.StatusName)</th>
                    <td>
                        @Html.DisplayFor(model => model.StatusName)
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.HasRandomizeQuestions)</th>
                    <td>
                        @Html.DisplayTextFor(model => model.HasRandomizeQuestions)
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.SubjectTagNames)</th>
                    <td>
                        @if (Model.SubjectTagNames.Any() == false)
                        {
                            <span>No data information</span>
                        }
                        else
                        {
                            @string.Join(", ", Model.SubjectTagNames)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                    <td>
                        @if (Model.ModifiedBy == null)
                        {
                            <span>No data information</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.ModifiedBy)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.ModifiedDate)</th>
                    <td>
                        @if (Model.ModifiedDate == null)
                        {
                            <span>No data information</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.ModifiedDate)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.DeletedBy)</th>
                    <td>
                        @if (Model.DeletedBy == null)
                        {
                            <span>No data information</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.DeletedBy)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.DeletedDate)</th>
                    <td>
                        @if (Model.DeletedDate == null)
                        {
                            <span>No data information</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.DeletedDate)
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.IsDeleted)</th>
                    <td>
                        @Html.DisplayTextFor(model => model.IsDeleted)
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center gap-1">
            @if (Model.IsDeleted == false)
            {
                <a class="btn btn-warning" asp-area="@ApplicationAreas.TEACHER" asp-controller="Test" asp-action="Update" asp-route-id="@Model.Id">
                    Update
                </a>
                <a class="btn btn-danger" asp-area="@ApplicationAreas.TEACHER" asp-controller="Test" asp-action="Delete" asp-route-id="@Model.Id">
                    Delete
                </a>
            }
            <a class="btn btn-secondary" asp-area="@ApplicationAreas.TEACHER" asp-controller="Test" asp-action="List">
                Go back
            </a>
        </div>

        @foreach (var (index, question) in Model.Questions.Select((question, index) => (index, question)))
        {
            var accordionId = $"accordion-{index}";
            var accordionHeadingId = $"accordion-heading-${index}";
            var accordionBodyId = $"accordion-body-{index}";

            <div class="accordion my-3" id="@accordionId">
                <div class="accordion-item">
                    <h2 class="accordion-header mt-0" id="@accordionHeadingId">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@accordionBodyId" aria-expanded="false" aria-controls="@accordionBodyId">
                            <span class="d-flex flex-column">
                                <span>
                                    @question.QuestionOriginalQuestionTitle
                                </span>

                                <span class="small text-secondary fst-italic">
                                    Points: @question.Points
                                </span>
                            </span>
                        </button>
                    </h2>
                    <div id="@accordionBodyId" class="accordion-collapse collapse" aria-labelledby="@accordionHeadingId" data-bs-parent="#@accordionId">
                        <div class="accordion-body">
                            <div>
                                @foreach (var answer in question.QuestionAnswers)
                                {
                                    <div class="my-2 d-flex gap-2">
                                        @if (question.QuestionQuestionTypeId == QuestionTypes.MultipleChoice.GetUid())
                                        {
                                            @Html.CheckBoxFor(modelInfo => answer.IsCorrect, new { disabled = true })
                                        }
                                        else if (question.QuestionQuestionTypeId == QuestionTypes.SingleChoice.GetUid())
                                        {
                                            var radioButtonValue = $"IsCorrect[{index}]";

                                            @Html.RadioButton(radioButtonValue, radioButtonValue, answer.IsCorrect, new { disabled = true })
                                        }
                                        <input class="form-control" type="text" value="@answer.AnswerContent" disabled />
                                    </div>
                                }
                            </div>

                            <div class="d-flex justify-content-end">
                                <a class="btn btn-danger" 
                                    asp-area="@ApplicationAreas.TEACHER" 
                                    asp-controller="Test" 
                                    asp-action="RemoveQuestion" 
                                    asp-route-questionId="@question.QuestionId"
                                    asp-route-testId="@Model.Id"
                                >
                                    Remove
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
