    @model CreateQuestionVM
@{
    ViewData["Title"] = "Create Question";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid px-5">
    <form class="w-50 mx-auto" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        @Html.FormGroupFor(model => model.Title)
        
        <div class="form-group mb-3">
            <span>
                @Html.DisplayNameFor(model => model.HasRandomizedAnswers)
            </span>

            @Html.CheckBoxFor(model => model.HasRandomizedAnswers)
        </div>
        
        <div class="form-group mb-3">
            <span>
                @Html.DisplayNameFor(model => model.QuestionTypes)
            </span>

            <select class="js-select2 form-control" name="questionType">
                @foreach (var questionType in Model.QuestionTypes)
                {
                    <option value="@questionType.Id">@questionType.Name</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            @Html.DisplayNameFor(model => model.SubjectTags)

            <select class="js-select2 form-control" name="subjectTag">
                @foreach (var subjectTag in Model.SubjectTags)
                {
                    <option value="@subjectTag.Id">@subjectTag.Name</option>
                }
            </select>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>
