    @model CreateQuestionVM
@{
    ViewData["Title"] = "Create Question";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid px-5">
    <form class="w-50 mx-auto" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Create" method="post">
        @Html.AntiForgeryToken()

        @Html.FormGroupFor(model => model.Title)
        
        <div class="form-group mb-3">
            @Html.DisplayNameFor(model => model.HasRandomizedAnswers)

            @Html.CheckBoxFor(model => model.HasRandomizedAnswers)
        </div>
        
        <div class="form-group mb-3">
            @Html.DisplayNameFor(model => model.QuestionTypes)

            <select class="js-select2 form-control" asp-for="QuestionTypeId" asp-items="@Model.QuestionTypes"></select>
        </div>

        <div class="form-group mb-3">
            @Html.DisplayNameFor(model => model.SubjectTags)

            <select class="js-select2 form-control" asp-for="SubjectTagId" asp-items="@Model.SubjectTags"></select>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>
</div>
