@model DetailsQuestionCopyVM
@{
    ViewData["Title"] = "Delete Question";
    bool isDisabled = true;
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid px-5">
    <form class="js-delete-form" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Delete" method="post">
        @Html.AntiForgeryToken()

        <input name="@Html.DisplayNameFor(model => model.Id)" value="@Model.Id" hidden />

        @Html.FormGroupFor(model => model.OriginalQuestionTitle, isDisabled)

        @Html.FormGroupFor(model => model.QuestionTypeName, isDisabled)

        @Html.FormGroupFor(model => model.SubjectTagName, isDisabled)

        @Html.LabelFor(model => model.Answers)
        @foreach (var (answer, index) in Model.Answers.Select((answer, index) => (answer, index)))
        {
            var isCorrectNameAttribute = $"Answers[{index}].IsCorrect";

            <div class="my-2 d-flex gap-2">
                @Html.CheckBox(isCorrectNameAttribute, answer.IsCorrect, new { disabled = "true" })
                <input class="form-control" disabled value="@answer.AnswerContent">
            </div>
        }

        <div class="d-flex justify-content-end gap-1">
            <a class="btn btn-secondary" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="List">
                Go back
            </a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </form>
</div>
