@model PageableResult<QuestionInformationVM>

@{
    ViewData["Title"] = "List All Questions";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid px-5">
    <table id="users-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameForInnerType((QuestionInformationVM model) => model.OriginalQuestionTitle)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((QuestionInformationVM model) => model.QuestionTypeName)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((QuestionInformationVM model) => model.SubjectTagName)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => row.OriginalQuestionTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => row.QuestionTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => row.SubjectTagName)
                    </td>
                    <td>
                        <a href=""></a>
                        <a class="btn btn-danger btn-sm" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Delete" asp-route-id="@row.Id">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PartialAsync("Pagination/_Pagination", Model.Paging).Result
</div>
