@model SearchFilterVM<QuestionInformationVM>

@{
    ViewData["Title"] = "List All Questions";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid px-5">
    <form method="get" class="search-form">
        <div class="d-flex flex-wrap justify-content-between">
            @Html.EditorFor(m => m.SearchCriteria)
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-success">Apply filters</button>
        </div>
    </form>

    @{
        if (this.Model.Data.Items.Any() == false)
        {
            <div class="text-center fs-3 mt-5">There are no results found.</div>
            return;
        }
    }

    <div class="table-responsive mt-3">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameForInnerType((QuestionInformationVM model) => model.OriginalQuestionTitle)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((QuestionInformationVM model) => model.QuestionTypeName)
                    </th>
                    <th>
                        @Html.DisplayNameForInnerType((QuestionInformationVM model) => model.SubjectTagName)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Data.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => row.OriginalQuestionTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => row.QuestionTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => row.SubjectTagName)
                        </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a class="btn btn-info btn-sm" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Details" asp-route-id="@row.Id">
                                    Details
                                </a>
                                <a class="btn btn-warning btn-sm" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Update" asp-route-id="@row.Id">
                                    Update
                                </a>
                                <a class="btn btn-danger btn-sm" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Delete" asp-route-id="@row.Id">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @Html.PartialAsync("Pagination/_Pagination", Model.Data.Paging).Result
</div>
