@model UpdateQuestionBM
@{
    ViewData["Title"] = "Update Question";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container-fluid px-5">
    <form class="w-50 mx-auto" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="Update" method="post">
        @Html.AntiForgeryToken()

        <input name="@Html.DisplayNameFor(model => model.Id)" value="@Model.Id" hidden />

        <input name="@Html.DisplayNameFor(model => model.OriginalQuestionId)" value="@Model.OriginalQuestionId" hidden />

        @Html.FormGroupFor(model => model.OriginalQuestionTitle)

        <div class="mb-3">
            @Html.DisplayNameFor(model => model.SubjectTagId)

            <select class="js-select2 form-control" asp-for="SubjectTagId" asp-items="@Model.SubjectTags"></select>
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.SubjectTagId)
            </span>
        </div>

        <div class="mb-3">
            <span>
                @Html.DisplayNameFor(model => model.HasRandomizedAnswers)
            </span>

            @Html.CheckBoxFor(model => model.HasRandomizedAnswers)
        </div>

        <div class="mb-3">
            <span>
                @Html.DisplayNameFor(model => model.QuestionTypeId)
            </span>

            <select class="js-select2 form-control" asp-for="QuestionTypeId" asp-items="@Model.QuestionTypes"></select>
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.QuestionTypeId)
            </span>
        </div>
        
        <div class="">
            @Html.DisplayNameFor(model => model.AnswersContent)

            @if (Model.AnswersContent.Any())
            {
                foreach (var answer in Model.AnswersContent)
                {
                    <input class="form-control mb-3" type="text" name="AnswersContent" value="@answer" />
                }
            } 
            
            <input class="form-control mb-3" type="text" name="AnswersContent" />
        </div>

        <div class="d-flex justify-content-end gap-1">
            <a class="btn btn-secondary" asp-area="@ApplicationAreas.TEACHER" asp-controller="Questions" asp-action="List">
                Go back
            </a>
            <button type="submit" class="btn btn-warning">Update</button>
        </div>
    </form>
</div>
