@model RegisterUserBM
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center my-5">Register</h1>

<div class="container">
    @{
        if (ViewBag.RegisterError != null)
        {
            <div class="mb-3">
                <div class="toast align-items-center bg-danger text-white w-100 show" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            @ViewBag.RegisterError
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        }
    }

    <form asp-area="@ApplicationAreas.ACCOUNT" asp-controller="User" asp-action="Register" method="post">
        @Html.AntiForgeryToken()

        @Html.FormGroupFor(model => model.Email)

        @Html.FormGroupFor(model => model.FirstName)

        @Html.FormGroupFor(model => model.MiddleName)

        @Html.FormGroupFor(model => model.LastName)

        @Html.FormGroupFor(model => model.Password)

        @Html.FormGroupFor(model => model.ConfirmPassword)

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
</div>
