@{
    var sumbitButtionClass = Model.Action == "Delete"
        ? "btn-danger"
        : "btn-success";
}

<div class="modal fade" id="@Model.ModalId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Users" asp-action="@Model.Action" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">@Model.Title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div>
                        <input type="text" class="user-id form-control" name="userId" value="" hidden />
                    </div>
                    <div class="mb-3">
                        @Html.DisplayNameForInnerType((UserInformationVM model) => model.FullName)
                        <input type="text" class="full-name form-control" value="" disabled />
                    </div>
                    <div class="mb-3">
                        @Html.DisplayNameForInnerType((UserInformationVM model) => model.Email)
                        <input type="text" class="email form-control" value="" disabled />
                    </div>
                    <div class="">
                        @Html.DisplayNameForInnerType((UserInformationVM model) => model.CreatedDate)
                        <input type="text" class="created-date form-control" value="" disabled />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn @sumbitButtionClass">@Model.ConfirmText</button>
                </div>
            </form>
        </div>
    </div>
</div>
