@model PageableResult<UserInformationVM>

@{
    ViewData["Title"] = "Users";
}

<h1 class="text-center">Users</h1>

<div class="container-fluid">
    <table id="users-table" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationVM model) => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationVM model) => model.Email)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationVM model) => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationVM model) => model.Roles)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationVM model) => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationVM model) => model.DeletedOn)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.CreatedOn)
                    </td>
                    <td>
                        @string.Join(", ", user.Roles.Select(r => r.RoleName))
                    </td>
                    <td>
                        <input type="checkbox" class="flipswitch" checked="@user.IsDeleted" disabled />
                    </td>
                    <td>
                        @if (user.IsDeleted)
                        {
                            @Html.DisplayFor(modelItem => user.DeletedOn)
                        }
                        else
                        {
                            <span>Not deleted</span>
                        }
                    </td>
                    <td>
                        @if (!user.IsDeleted)
                        {
                            <button type="button" class="btn btn-primary btn-sm modify-user-roles-button" data-user-id="@user.Id" data-bs-toggle="modal" data-bs-target="#modifyUserRolesModal">
                                Modify roles
                            </button>
                        }
                        <button type="button" class="btn btn-danger btn-sm">
                            <span class="icon-font icon-font--trash"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PartialAsync("Pagination/_Pagination", Model).Result
</div>

@Html.PartialAsync("_ModifyUserRolesModal").Result

@section Scripts {
    <script asp-src-include="~/js/users*.js" defer></script>
}
