@model PageableResult<UserInformationViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1 class="text-center">Users</h1>
<div class="p-4">
    <table id="users-table" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationViewModel model) => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationViewModel model) => model.Email)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationViewModel model) => model.CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationViewModel model) => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameForInnerType((UserInformationViewModel model) => model.DeletedOn)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.CreatedOn)
                    </td>
                    <td>
                        <input type="checkbox" class="flipswitch" checked="@user.IsDeleted" disabled />
                    </td>
                    <td>
                        @if (user.IsDeleted)
                        {
                            @Html.DisplayFor(modelItem => user.DeletedOn)
                        }
                        else
                        {
                            <span>Not deleted</span>
                        }
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.PartialAsync("Pagination/_Pagination", Model).Result
</div>

<script>
</script>
